body {
  background-color: #e2f2f2;
}

#app {
  background-color: #e2f2f2;
  height: 800px;
  padding: 10px 0;
}

.headnew {
  width: 100%;
  background-color: #0f9095;
}

.root {
  width: 96%;
  margin: 20px auto;
  background-color: #f1faf9;
  border-radius: 6px;
}

.img_title {
  width: 16%;
  float: left;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 1%;
}

.img_title h2 {
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

.img_title img {
  width: 46px;
  float: left;
}

.shenqdata {
  width: 80%;
  float: left;
  padding: 25px 0;
  color: #000000;
}

.shenqdata select {
  display: block;
  width: 9%;
  height: 40px;
  line-height: 34px;
  font-size: 16px;
  float: left;
  background-color: #c7e5e7;
}

.leavespan {
  width: 140px;
  background-color: #c7e5e7;
  display: block;
  float: left;
  margin-left: 10px;
  border-radius: 4px;
}

.leavespan .mx-datepicker {
  width: 140px;
}

.leavespan01 {
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  color: #fff
}

.leavespan .mx-datepicker .mx-input {
  height: 40px;
  background-color: #c7e5e7;
  color: #000;
  font-size: 16px;
}

.bumen {
  width: 210px;
  float: left;
  overflow: hidden;
  margin-left: 10px;
}

.bumen p {
  display: inline;
  padding: 10px;
  float: left;
  color: #fff;
}

.bumen div {
  width: 140px;
  float: left;
}

.bumen div select {
  display: block;
  width: 140px;
}

/* 通过 */
.tongguo {
  background-color: #85c6ca;
}

/* 未审核 */
.weishenhe {
  background-color: #e2f2f2;
}

/* 不同意 */
.butongyi {
  background-color: #ead5d5;
}

#mainbox {
  background-color: #f1faf9;
  border: 1px solid #0f9095;
  padding-bottom: 20px;
}

#datatable {
  background-color: #f1faf9;
}

.xingming {
  width: 160px;
  float: left;
  margin-left: 20px;
}

.xingming p {
  display: inline;
  float: left;
  line-height: 40px;
}

.zhuangtai {
  width: 160px;
  float: left;
  margin-left: 20px;
}

.zhuangtai p {
  display: inline;
  float: left;
  line-height: 40px;
}

#ztselect {
  width: 100px;
  margin-left: 10px;
}

#chax {
  height: 40px
}

#datatable tr th {
  vertical-align: inherit;
}

#queryDiv {
  width: 60px;
  float: left;
  margin-left: 20px;
}
